<!DOCTYPE html>
<html lang="en">
<head>
    <title>家庭支出趋势分析系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/user_management.css">
    <link rel="stylesheet" href="../static/css/bootstrap-4.6.2.css">
    <script src="../static/js/jquery-3.6.4.js"></script>
    <script src="../static/js/bootstrap-4.6.2.js"></script>
    <script src="../static/js/popper_core-2.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/user_management">用户管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #ffffff" href="/data_predict">数据管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user_data_management">用户数据管理</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if session['username'] %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ session['username'] }}，欢迎回来！</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" onclick="return confirm('确定要注销吗？')">注销</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="login-btn" href="/">登录</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div style=" text-align:center; margin-top:0px; transform: scale(1.0);">
    <div class="container-fluid">
        <div style="top: 2px;"><br></div>
        <h1 style="text-align:center; margin-top:50px;">数据管理</h1>

        <div>
            <form class="form-inline mt-2 mt-md-0" action="/data_search" method="post">
                <input class="form-control mr-sm-2" type="text" placeholder="请输入家庭收入最小值..." name="imin"
                       aria-label="Search">
                <span style="margin-right: 6px;">--</span>
                <input class="form-control mr-sm-2" type="text" placeholder="请输入家庭收入最大值..." name="imax"
                       aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>


            </form>
            <div style="float: left;">
                <a type="button" class="btn btn-secondary" href="/data_add"
                   style="margin-top: 10px;margin-bottom: 10px;">
                    <span class="btn-inner--text">Add Data</span>
                </a>
            </div>

            <table id="userTable table-striped" class="table table-striped" style="top: 10px;">
                <thead>
                <tr>
                    <th>id</th>
                    <th>家庭收入</th>
                    <th>性别</th>
                    <th>家庭成员数</th>
                    <th>家庭工作人数</th>
                    <th>家庭电视数量</th>
                    <th>家庭汽车数量</th>
                    <th>家庭手机数量</th>
                    <th>家庭电脑数量</th>
                    <th>家庭总支出</th>
                    <th>操 作</th>


                </tr>
                </thead>
                <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{ data.data_id }}</td>
                        <td>{{ data.household_income }}</td>
                        <td>{% if data.household_head_sex %}男{% else %}女{% endif %}</td>
                        <td>{{ data.num_family_members }}</td>
                        <td>{{ data.number_of_workers }}</td>
                        <td>{{ data.number_of_television }}</td>
                        <td>{{ data.number_of_car }}</td>
                        <td>{{ data.number_of_phone }}</td>
                        <td>{{ data.number_of_personal_computer }}</td>
                        <td>{{ data.total_household_expenditure }}</td>

                        <td>
                            <a href="/data_edit?id={{ data.data_id }}" class="btn btn-primary" role="button">Edit</a>
                            <a href="/data_delete?id={{ data.data_id }}" class="btn btn-danger" style="color: white"
                               onclick="{if(confirm('确定删除吗?')){this.document.formname.submit();return true;}return false;}"
                               role="button">Delete</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <style>
                nav {
                    background-color: #b8b5b5;
                }
            </style>
            <div id="pagination" style="text-align:center;">
                {{ paginate.links }}
            </div>

            <div id="pagination" style="text-align:center; margin-top:20px;">

            </div>

        </div>
    </div>
</div>
</body>
</html>