<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <link href="../static/css/register.css" rel="stylesheet"/>     <!-- 引用CSS文件 -->
    <script src="../static/js/register.js"></script>       <!-- 引用JS文件 -->
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">注册</div>
        <div class="form-wrapper">
            <label>
                <input type="text" name="username" placeholder="用户名" class="input-item">
                <input type="password" name="password" placeholder="密码" class="input-item">
                <input type="password" name="c_password" placeholder="确认密码" class="input-item">
            </label>
            <button type="submit" class="btn">注册</button>
        </div>
        <div class="msg">
            已有账号？
            <a href="/">返回登录</a>
        </div>
    </div>
</div>
</body>
</html>