<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link href="../static/css/register.css" rel="stylesheet"/>     <!-- 引用CSS文件 -->
    <script src="../static/js/add_user.js"></script>       <!-- 引用JS文件 -->
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">添加用户</div>
        <div class="form-wrapper">
            <label>
                <label>
                    <input type="text" name="username" placeholder="用户名" class="input-item">
                    <input type="text" name="password" placeholder="密码" class="input-item" >
                    <input type="text" name="permissions" placeholder="0-管理员；1-普通用户" class="input-item" >
                </label>
            </label>
            <button type="submit" class="btn">添加</button>
        </div>
      
    </div>
</div>
</body>
</html>